:root {
    --bg-pink: #FFDBEE;
    --li-pink: #FF8DB1;
    --bg-blue: #EBFFFF;
    --bg-green: #EBFFF5;
    --green: #00D2D2;
    --black: #000000;
    --white: #fff;
    --fontSize-15: 15px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Igrasans';
    src: url("font/Igrasans.woff2") format("woff2");
    src: url("font/Igrasans.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: var(--fontSize-15);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Igrasans', sans-serif;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 30px;
    line-height: 130%;
}

@media screen and (max-width: 320px) {
    h2 {
        font-size: 24px;
        line-height: 32px;
    }
}

h3 {
    font-size: 20px;
    line-height: 130%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
    vertical-align: middle;
}

textarea {
    resize: none;
}

section {
    position: relative;
}

input,
select,
button {
    outline: none;
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 90px;
    min-height: 100vh;
}

.section {
    padding: 30px 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

main.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    overflow: hidden;
}

footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.section__title {
    margin-bottom: 20px;
}

.Button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
    color: var(--black);
    font-size: var(--fontSize-15);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.Button.Button-fill {
    background-color: var(--green);
    padding: 0 40px;
    height: 55px;
}

.Button.Button-fill:hover {
    background-color: #99EDED;
}

.Button.Button-fill:active {
    background-color: var(--green);
}

.Button.Button-outline {
    border: 1px solid var(--green);
    padding: 0 30px;
    height: 40px;
}

.Button.Button-outline:hover {
    background-color: #EBFFFF;
}

.Button.Button-outline:active {
    background-color: var(--green);
}

.Button:hover {
    background-color: #1ac1c1;
}


.sandwich {
    width: 20px;
    cursor: pointer;
    height: 14px;
    position: relative;
}

.sandwich__line {
    background-color: var(--green);
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    -webkit-transition: all linear .4s;
    -o-transition: all linear .4s;
    transition: all linear .4s;
    width: 100%;
}

.sandwich__line--top {
    top: 0;
}

.sandwich__line--middle {
    top: 6px;
}

.sandwich__line--bottom {
    top: 12px;
}

.sandwich--active .sandwich__line--top {
    top: 6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sandwich--active .sandwich__line--middle {
    opacity: 0;
}

.sandwich--active .sandwich__line--bottom {
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.main-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--black);
    font-size: 16px;
}

.main-link span {
    position: relative;
    margin-right: 10px;
}

.main-link span:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 100%;
    height: 1px;
    background-color: var(--black);
}

.main-link:hover span:after {
    height: 5px;
    background-color: var(--green);
    bottom: 0;
}

.main-link img {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.main-link:hover img {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
}

.info {
    padding: 25px 30px;
    background-color: var(--green);
    border-radius: 15px;
}


.list li {
    position: relative;
    padding-left: 12px;
    font-size: var(--fontSize-15);
    line-height: 24px;
}

.list li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--li-pink);
}

.list li:not(:last-child) {
    margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
    .wrapper {
        padding-top: 70px;
    }
}

@media screen and (max-width: 414px) {
    .Button {
        height: 45px;
    }

    .info {
        padding: 20px;
    }

    .wrapper {
        padding-top: 65px;
    }
}