* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Igrasans';
    src: url("font/Igrasans.woff2") format("woff2");
    src: url("font/Igrasans.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Igrasans', sans-serif;
    margin: 0;
}

h2 {
    font-size: 30px;
    line-height: 130%;
}
@media screen and (max-width: 320px) {
    h2 {
        font-size: 24px;
        line-height: 32px;
    }
}

h3 {
    font-size: 20px;
    line-height: 130%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; border: none; background-color: transparent; }

ul {
    list-style: none;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

main.main {
    flex: 1 0 auto;
    overflow: hidden;
}

footer {
    flex: 0 0 auto;
}

.breadcrumbs {
    font-family: Manrope;
    font-weight: normal;
    margin: 20px 0;
}

.breadcrumbs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.breadcrumbs span {
    margin: 0 10px;
}

.breadcrumbs__item {
    text-decoration: none;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
}

.section__title {
    margin-bottom: 20px;
}

.Button {
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    color: #000000;
    font-size: 15px;
    flex: 0 0 auto;
    transition: all .3s;
    cursor: pointer;
}

.Button.Button-fill {
    background-color: #00D2D2;
    padding: 0 40px;
    height: 55px;
}

.Button.Button-fill:hover {
    background-color: #99EDED;
}

.Button.Button-fill:active {
    background-color: #00D2D2;
}

.Button.Button-outline {
    border: 1px solid #00D2D2;
    padding: 0 30px;
    height: 40px;
}

.Button.Button-outline:hover {
    background-color: #EBFFFF;
}

.Button.Button-outline:active {
    background-color: #00D2D2;
}

@media screen and (max-width: 414px) {
    .Button {
        height: 45px;
    }
}

.Button:hover {
    background-color: #1ac1c1;
}


.sandwich {
    width: 20px;
    cursor: pointer;
    height: 14px;
    position: relative;
}

.sandwich__line {
    background-color: #00D2D2;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all linear .4s;
    width: 100%;
}

.sandwich__line--top {
    top:0;
}
.sandwich__line--middle {
    top:6px;
}
.sandwich__line--bottom {
    top:12px;
}

.sandwich--active .sandwich__line--top {
    top: 6px;
    transform: rotate(45deg);
}
.sandwich--active .sandwich__line--middle {
    opacity: 0;
}
.sandwich--active .sandwich__line--bottom {
    top: 6px;
    transform: rotate(-45deg);
}



