* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Igrasans';
    src: url("font/Igrasans.woff2") format("woff2");
    src: url("font/Igrasans.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Igrasans', sans-serif;
    margin: 0;
}

h2 {
    font-size: 30px;
    line-height: 130%;
}

h3 {
    font-size: 20px;
    line-height: 130%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; border: none; background-color: transparent; }

ul {
    list-style: none;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

main.main {
    flex: 1 0 auto;
    overflow: hidden;
}

footer {
    flex: 0 0 auto;
}

.breadcrumbs {
    font-family: Manrope;
    font-weight: normal;
    margin: 20px 0;
}

.breadcrumbs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.breadcrumbs span {
    margin: 0 10px;
}

.breadcrumbs__item {
    text-decoration: none;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
}

.Button {
    background: #00D2D2;
    border-radius: 50px;
    color: #000000;
    font-size: 15px;
    flex: 0 0 auto;
    padding: 0 40px;
    transition: all .3s;
    height: 55px;
    cursor: pointer;
}

@media screen and (max-width: 414px) {
    .Button {
        height: 45px;
    }
}

.Button:hover {
    background-color: #1ac1c1;
}



