.banner {
    padding: 20px 0;
}

.banner__title {
    font-size: 46px;
    line-height: 120%;
    margin-bottom: 15px;
    font-family: 'Igrasans', sans-serif;
}

.banner__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    height: 340px;
    padding: 70px 70px 80px;
}

.banner__inner .Button {
    margin-top: auto;
}

.banner__text {
    font-size: 20px;
    line-height: 30px;
}

.banner__inner picture {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: block;
    height: 340px;
}

.banner__inner img {
    border-radius: 15px;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media screen and (max-width: 1000px) {
    .banner__inner {
        padding: 70px 40px 60px;
    }
}

@media screen and (max-width: 768px) {
    .banner__inner {
        padding: 30px 40px 65px;
    }
    .banner__title {
        max-width: 300px;
    }
}

@media screen and (max-width: 414px) {
    .banner {
        padding: 20px 0 90px;
    }

    .banner__title {
        max-width: 100%;
        text-align: center;
        font-size: 30px;
        line-height: 40px;
        margin: 20px 0 5px;
    }

    .banner__inner {
        padding: 250px 0 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .banner__inner img {
        width: 100%;
        border-radius: 0;
    }

    .banner__inner picture {
        width: calc(100% + 30px);
        height: 250px;
        margin: 0 -15px;
    }

    .banner__text {
        font-size: 15px;
        text-align: center;
        line-height: 24px;
        margin-bottom: 15px;
    }
}