.header {
    padding: 16px 0 10px;
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
}

@media screen and (max-width: 768px) {
    .header {
        padding: 17px 5px;
    }
}

@media screen and (max-width: 414px) {
    .header {
        padding: 10px 0;
    }
}

.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo {
    margin-right: 50px;
}

.header__block {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media screen and (max-width: 768px) {
    .header__block {
        display: none;
    }

    .header__inner {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media screen and (max-width: 414px) {
    .header__inner {
        margin: 0 -5px;
    }
}

.header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 8px;
    margin-bottom: 15px;
    border-bottom: 1px solid #A7A7A7;
}

.header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-nav__link {
    color: #000000;
}

.header-nav__link span {
    position: relative;
}

.header-nav__link span:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 0;
    background: rgba(0,210,210, 0.5);
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.header-nav__link:hover span:after {
    height: 5px;
}

.header__clock {
    margin-right: 30px;
}

.clock, .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
}

.clock img, .location img {
    margin-right: 5px;
}

@media screen and (max-width: 1100px) {
    .clock, .location {
        font-size: 12px;
    }
}

@media screen and (max-width: 950px) {
    .header__clock, .header__location {
        display: none;
    }
}

.header__phone {
    margin-left: auto;
    font-size: 18px;
    color: #000000;
    margin-right: 40px;
    white-space: nowrap;

}


@media screen and (max-width: 1100px) {
    .header__logo {
        margin-right: 30px;
    }

    .header__logo img {
        max-width: 125px;
    }

    .header__phone {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .header__logo {
        margin-right: 0;
    }

    .header__logo img {
        max-width: 125px;
    }
}

@media screen and (max-width: 414px) {
    .header__logo img {
        max-width: 110px;
    }
}

.callback {
    position: relative;
    color: #000000;
    font-weight: 600;
    white-space: nowrap;
}

.callback:hover:after {
    opacity: 0;
}

@media screen and (max-width: 1100px) {
    .callback {
        font-size: 12px;
    }
}

.callback:after {
    content: '';
    position: absolute;
    transition: all .3s;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    top: calc(100% - 4px);
}

.burger,
.phone-btn {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #F9F9F9;
}

@media screen and (max-width: 768px) {

    .burger,
    .phone-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}