.s-services-video {
    padding-top: 60px;
}

.services-video__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.services-video__col p {
    line-height: 24px;
    font-size: 15px;
}

.services-video__title {
    margin-bottom: 20px;
}

.services-video__title span {
    display: block;
}

.services-video__link {
    margin-top: 30px;
}

.services-video__col {
    width: calc(50% - 50px);
    max-width: calc(50% - 50px);
}



@media screen and (max-width: 768px) {
    .s-services-video {
        padding-top: 30px;
    }

    .services-video__title span {
        display: inline-block;
    }

    .services-video__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .services-video__col {
        width: 100%;
        max-width: 100%;
    }

    .services-video__link {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 414px) {
    .services-video__col {
        text-align: center;
    }

    .services-video__link {
        margin-top: 20px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}